<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <title>{% block title %}{% endblock %}</title>


    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #333;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="color: white;">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('home')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">About</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="POST" action="{{ url_for('search') }}" style="padding-right: 3em;">
          <input class="form-control mr-sm-2" list="posts" name="search" id="search" placeholder="Search People">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go!</button>
        </form>

        <form class="form-inline my-2 my-lg-0" method="POST" action="{{ url_for('searchterm') }}" >
          <input class="form-control mr-sm-2" list="posts" name="searchterm" id="searchterm" placeholder="Search Transcript">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go!</button>
        </form>
      </div>
    </nav>
  </head>
  <style type="text/css">
    a {
      color: rgb(40,40,40);
    }
    a:hover {
      color:  rgb(120,120,120);
    }

  </style>

  <body>
    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  </div>
</html>

